@charset "UTF-8";

.navbar {
    overflow: hidden;
    background-color: #d6cdbf;
    font-family: georgia, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px; 
    color: #2e271e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: #2e271e; 
    padding: 14px 16px;
    background-color: inherit;
    font-family: georgia, sans-serif; 
    margin: 0; 
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #d1c5bc; 
    color: white; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dcd6cd; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #2e271e; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #d6cdbf;
    color: white; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    font-family: arial, sans-serif;
    font-size: 12pt;
    color: #2e271e;
    background-color: #f7f3ed;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: georgia, sans-serif;
    font-size: 25pt;
    color: #544b40;
    font-weight: bold;
    margin: 20px;
}

h2 {
    font-family: helvetica, sans-serif;
    font-size: 20pt;
    color: #423b32;
    font-weight: bold;
    margin: 20px;
}

h3 {
    font-family: "trebuchet MS", sans-serif;
    font-size: 16pt;
    color: #363028;
    font-weight: normal;
    margin: 20px;
}

p {
    font-family: georgia, sans-serif;
    font-size: 14pt;
    color: #1c1204;
    margin: 20px;
}

.output-h2 {
    font-family: helvetica, sans-serif;
    font-size: 22pt;
    color: #423b32;
    font-weight: bold;
    margin: 20px;
}

a:link, a:visited {
    color: #7a6c58;
    text-decoration: underline;
}

link:hover {
    color: #631700;
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 20px;
    border: 1px solid #ccc
}

.text-wrapper {
    padding: 10px;
    background-color: #fcf7f0;
    border: 1px solid #d9cfc1;
}

.link-wrapper {
    padding: 10px;
    background-color:#ebe3d8;
    border: 1px solid #d6cfc5;
}

td.links {
    width: 50%;
    text-align: left;
}

.indented-image {
    margin-left: 20px; 
}